@import url(../CSS/stilo-general.css);
#vinculo {
  text-decoration: none;
  color: grey; }

#consultas {
  background-color: green;
  align-content: center;
  grid-area: a4; }

#contenido, .color_menu_Inscripciones {
  background-color: #cd3b3b;
  align-content: center;
  grid-area: a1; }

#contenido-image {
  align-content: center;
  grid-area: a2;
  max-width: 100%;
  height: 100%; }

#div_menu, .color_menu_Kinesiologia, .color_menu_Nosotros {
  font-size: 50PX;
  background-color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 70px;
  margin-top: 0px;
  width: 1265;
  text-decoration-line: none; }

#gilla {
  display: grid;
  grid-template-rows: 60px 100px 860px 60px;
  grid-template-columns: 100%;
  margin: 0px; }

/*grids */
#grilla-menu {
  display: grid;
  grid-template-rows: 215px 215px 215px 215px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "a1 a1 a2 a2" "a1 a1 a2 a2" "a3 a3 a3 a3" "a4 a4 a4 a4";
  background-color: #4d9cd9;
  justify-content: center; }

#main-secundarios {
  background-color: #4d9cd9;
  object-position: left;
  text-decoration: none;
  height: 850px;
  width: 1425px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

  .nav--color {
    text-decoration: none;
    background-color: #890def; }
  
  .nav--color2 {
    text-decoration: none;
    background-color: #0def64; }


    @media screen and (max-width:600px){

    #contenido-image{
      grid-area: a2 ;
      width: 100%;
      height: 100%;
  
  }
  #consultas{
   
      display:flex;
      margin-top: 0%;
      background-color:  green;
      align-content: center;
      font-size: 20%;
      width: 100%;
      height: 100%;
  
}
#grilla-menu {
  display: grid;
  grid-template-rows: 50%  25% 25%;
  grid-template-columns: 100% ;
  grid-template-areas: "a1  a1 a1" "a2 a2 a2" "a4 a4 a4";
  background-color: #4d9cd9;
  justify-content: center; }
#contenido{
  grid-area: a1 ,a2;
  text-overflow: clip;
  background-color:  rgb(79, 59, 205);
}}