*{
    margin: 0;
    padding: 0;
}


textarea
{
    width: 100%;
    height: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    background-color: black;
    width: 1425px;
}
h1{
    color: gray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
nav{
     text-decoration:  none;
    background-color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1425px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

main{
    background-color: rgb(77, 156, 217);
    object-position: left;
    text-decoration: none;
    height: 860px;
    width: 1425px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: hidden;
}
a{
    font-size: 30px;
    color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    color: gray;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    width: 1425px;
    overflow: hidden;
}
li{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-right : 60px;
    overflow: hidden;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
@media screen and (max-width:600px){
a{
    font-size: 15px;
}

#div_menu {
    font-size: 10%;
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    margin:5%;
    margin-top: 0px;
    width: 30%;
    position: sticky;
    text-decoration-line: none; }
  
header{
    background-color: black;
    width: 100%;
    height: 100%;
}
    li{
        text-decoration: none;
        text-align: center;
        display:block;
        margin-right : 30%;
        overflow: hidden;
    }

    ul{
        display: block;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }


       nav{
    text-decoration:  none;
       background-color: rgb(0, 255, 187);
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       width: 100%;
       height: 100%;
       top: 0px;
   }

div{
    display:list-item;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
#grilla-menu{
    width: 100%;
    height: 100%;
}
footer{
    text-align: center;
    width: 100%;
    height: 100%;
}
}